h1{
	font-family: 'Seaweed Script', cursive;
}
h2{
	font-size: 40px;
	font-weight: 400;
	text-decoration: underline;
}
h4{
	font-size: 25px;
	font-weight: 400;
	text-decoration: underline;
}
#navb{
	font-family: 'Halant', serif;
}
.opening{
	padding-top: 5%;
}
#cojlogo{
	float:right;
	width: 275px;
	height: 100px;
	margin-top: 5%;
}
#unaffiliated{
	float: left;
	width: 230px;
	height: 230px;
	padding: 5px;
	margin: 5px;
}
#bio{
	font-size: 22px;
	font-style: italic;

}
.pics{
	width: 100px;
	height: 100px;
	float: left;
	padding: 8px;
	margin-right: 15px;
	margin-bottom: 5px;
	margin-top: 15px;
}
.highlights{
	width: 320px;
	height: 240px;
	padding: 10px;
}
.sections{
	border: 8px solid black;
	margin-bottom: 2px;
}
#contact{
	text-align: left;
}
.text{
	font-family: 'Halant', serif;
}
#twoh{
	margin-left: 15.5%;
}
#threeh{
	float:right;
}
#hintro{
	text-align: center;
}
.bpics{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}
#catslogo{
	margin-top: 12px;
}
#videopic{
	height: 230px;
	width: 240px;
	float: left;
	padding: 8px;
	margin-top: 2px;
}
#stor{
	text-align: center;
}
#story1{
	padding: 15px;
}
#story2{
	margin-left: 7%;
	padding: 15px;
}
#story3{
	float: right;
	padding: 15px;
}





